#card-container {
    width: 15rem;
    height: 20rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
}

.delete-button {
    display: flex;
    flex-direction: row-reverse;
}

#trash-bin {
    width: 2rem;
}

#trash-bin:hover {
    cursor: pointer;
}

#product-image {
    width: 100%;
}

.product-name {
    font-size: 2rem;
    font-weight: 700;
}

.product-description-container {
    height: 100%;
}

.product-description {
    font-size: 1rem;
    font-weight: 400;
}

.price-row {
    display: flex;
    vertical-align: top;
}

.price-symbol {
    font-size: 1rem;
}

.price-whole {
    font-size: 2rem;
    font-weight: 400;
}

.price-fraction {
    font-size: 1rem;
}